@media only screen and (max-width: 770px) {
    #label {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .navbar-expand .navbar-nav .nav-link {
        margin-left: unset !important;
    }
    #wrapper {
        height: fit-content;
    }
    #megaWrapper > div {
        height: 100%;
    }
}