.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.mt-nav {
    margin-top: 5rem;
}
@media only screen and (max-width: 770px) {
    #label {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .navbar-expand .navbar-nav .nav-link {
        margin-left: unset !important;
    }
}