.twemoji {
    width: 1.5rem
}
#basic-addon2 {
    background-color: #D3D3D3;
}
.spinner-border {
    width: 1.25rem;
    height: 1.25rem;
}
#loadingbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bold {
    font-weight: bold;
}
.h4 {
    white-space: nowrap;
}
@media only screen and (max-width: 1000px) {
    #image {
        display: none !important;
    }
    #tooltip {
        display: none;
    }
    #wrapper {
        flex-basis: 100% !important;
    }
}
@media only screen and (max-width: 720px) {
    #megaWrapper {
        margin-left: unset !important;
        margin-right: unset !important;
    }
    #wrapper {
        width: 100%;
    }
    #personalFilter {
        display: unset !important;
    }
    .dropup {
        margin-bottom: .25rem;
    }
    #scnd {
        margin-left: unset !important;
        margin-bottom: .5rem;
    }
}